<div class="mb-3">
  <div class="row no-gutters card-body text-info">
    <div class="col-sm-3">
      <img
        src="<%= game.image_url %>"
        class="card-img-top h-100 game-card-details"
        alt="<%= game.game_title %>"
        style="max-width: 200px"
        ;
      />
    </div>
    <div class="col-sm-9">
      <div class="card-body">
        <h4 class="card-title"><%= game.game_title %></h4>
        <div class="score-card-name">
          <p><%= game.genre %>, <%= (game.release_year) %></p>
        </div>
        <div class="score-card-name">
          <p><%= game.description %></p>
        </div>
      </div>
    </div>
  </div>
  <h4 class="highscore-table">Highscores</h4>
  <div class="row">
    <div class="row">
      
      <% scores.forEach(score => {  %>
        <%- include("../shared/partials/score-card-individual-game", { score }) %>
      <% }) %>
    </div>
      </div>
</div>
